[user]
	name = Aubin Lagorce
	email = aubin@lagorce.io

[color]
	ui = auto

[alias]
	st = status
	cm = commit -m
	lg = log --graph --date=relative --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ad)%Creset'
	oops = commit --amend --no-edit

[pull]
	rebase = preserve

[push]
  default = simple
